<form [formGroup]="postForm" (ngSubmit)="onPostAdd()">
    <h3 mat-dialog-head>{{inEditMode? "Update Post" : "Add New Post"}}</h3>

    <mat-dialog-content>

        
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" formControlName="title" class="form-control">
        </div>


        <div class="form-group">
            <label for="content">Content</label>
            <textarea type="text" id="content" formControlName="content" class="form-control"></textarea>
        </div>


        <div class="form-group">
            <label for="userId">User Id</label>
            <select name="userId" id="userId" formControlName="userId"  class="form-control">
                <option  *ngFor="let userIdNo of [1,2,3,4,5]" value="{{userIdNo}}">{{userIdNo}}</option>
            </select>
        </div>
    </mat-dialog-content>


    <mat-dialog-actions>
        <button mat-raised-button color="primary" *ngIf="!inEditMode">Add Post</button>
        <button mat-raised-button color="primary" type="button" *ngIf="inEditMode"
        (click) = "onPostUpdate()"
        >Update Post</button>
    </mat-dialog-actions>


</form>