<h2 mat-dialog-title class="text-center"><mat-icon color="warn">delete</mat-icon></h2>
<mat-dialog-content><h1>Would you like to delete the post ???</h1></mat-dialog-content>
<mat-dialog-actions class="d-flex justify-content-between">
  <!-- <button mat-button color="primary"  mat-dialog-close><mat-icon color="warn">cancel</mat-icon></button> -->
  <!-- <button mat-button color="warn" [mat-dialog-close]="true" (click)="onDelete()"><mat-icon color="warn">delete</mat-icon></button> -->
  <button mat-button color="primary"  mat-dialog-close>Cancel</button>
  <button mat-button color="warn" [mat-dialog-close]="true" (click)="onDelete()">Delete</button>
</mat-dialog-actions>